<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cart">
	<!-- 1.장바구니 목록 -->
		<select id='insertCart' >
		SELECT *
		FROM ITEM WHERE product_id= #{product_id}
		</select>
	<!-- 2.장바구니 개별 삭제 -->
		<delete id='deleteCart' parameterType="cart" >
		DELETE *
		FROM ITEM WHERE product_id= #{product_id}
		</delete>
	<!-- 3.장바구니 비우기 -->
		<delete id='deleteAllCart' parameterType="cart" >
		DELETE * FROM ITEM
		</delete>
</mapper>